src/main/resources/wsdl/CoreMessageTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema 
   elementFormDefault="qualified"
   targetNamespace="http://gehcit.com/platform/cws/types/coreMessageTypes"
   version="1.0"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:cmt="http://gehcit.com/platform/cws/types/coreMessageTypes">
   <xs:annotation>
      <xs:documentation>
         This model contains the fundamental XML types that represent the basic atoms used to build many more complex message payloads.
      </xs:documentation>
   </xs:annotation>
   <xs:complexType name="MessageElement" abstract="true">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            A base type for all message element types in the Common Service Model that provides mechanisms for implementation-specific server context and arbitrary message payload extension.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="serverContext" minOccurs="0" maxOccurs="1" type="cmt:ST">
            <xs:annotation>
               <xs:documentation source="urn:ge:csm" xml:lang="en">
                  This optional value is controlled by the physical implementation of a CSM service.  A CSM consumer (or client).  All CSM consumers invoking operations that specify a request payload that is (a potential) update to a data structure received in a preceding information retrieval response payload, SHALL include the original values for this attribute.  
                  
                  A  CSM consumer SHALL NOT attempt to parse or interpret the meaning of this attribute when it is valued.  Only the server-implementation that generated it in the first place knows how to interpret it.  Its like server cookie.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="extension" minOccurs="0" maxOccurs="unbounded" type="cmt:Extension">
            <xs:annotation>
               <xs:documentation source="urn:ge:csm" xml:lang="en">
                  When present this attribute represents a list of extensions each containing potentially multiple name value pairs.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="GPPatientNameDetail">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            A simple person name, with family and given names only.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cmt:MessageElement">
            <xs:sequence>
               <xs:element name="firstName" minOccurs="1" maxOccurs="1" type="cmt:ST64">
                  <xs:annotation>
                     <xs:documentation source="urn:ge:csm" xml:lang="en">
                        The first name of a person.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="lastName" minOccurs="1" maxOccurs="1" type="cmt:ST64">
                  <xs:annotation>
                     <xs:documentation source="urn:ge:csm" xml:lang="en">
                        The last name of the person.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
                              
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   
   <xs:complexType name="GPPatientIdentifier">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            This message element that describes an identifier issued from a identification domain.
         </xs:documentation>
      </xs:annotation>
       <xs:complexContent>
               <xs:extension base="cmt:MessageElement">
                  <xs:sequence>
                     <xs:element name="domainId" minOccurs="1" maxOccurs="1" type="cmt:OID">
                        <xs:annotation>
                           <xs:documentation source="urn:ge:csm" xml:lang="en">
                              An OID to identify the domain which issued the identifier.
                           </xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="idValue" minOccurs="1" maxOccurs="1" type="cmt:ID">
                        <xs:annotation>
                           <xs:documentation source="urn:ge:csm" xml:lang="en">
                              The value of the identifier, unique within the context of the Domain Id.
                           </xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="idTypeCode" minOccurs="0" maxOccurs="1" type="cmt:CS">
                        <xs:annotation>
                           <xs:documentation source="urn:ge:csm" xml:lang="en">
                              A type code of the identifier
                           </xs:documentation>
                        </xs:annotation>
                     </xs:element>                     
                  </xs:sequence>
               </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   
   <xs:simpleType name="CS">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            Coded data in its simplest form, consists of a code. The code system and code system version is fixed by the context of the LDM, in which the CS value occurs. 
            
            CS is used for coded attributes which vocabulary has been defined in the context of the attribute specified in the CDM. The LDM will in turn point to industry standard coding system(s) such as HL7, ISO, SNOMED where applicable. If there is no industry standards available for the concepts expressed in the coded attribute, CDM will define its own vocabulary.
            
            The CDM may references multiple coding systems for the vocabulary of a CS typed attribute. For example, the Postal Code in an Address is a CS typed attribute. But there lacks an internationally accepted Postal Code system covering all countries. In this case, the CDM specifies that in each country the national standard postal code system are be referenced into the vocabulary of the postal code in the CDM.
            
            A further constraint applicable to CS typed attribute is to specify a value set. For example, a document section title CS attribute may adopt LOINC coding system as its vocabulary. But it really only allows a subset of the 40000+ codes defined in the LOINC system. This subset can be specified in the value set, which further specifies what code values from the vocabulary can be used in this attribute.
            
            If the CS typed attribute references an industry standard coding system for its value set, unless specifically declared, it is bound to the latest available version of the coding system. If a specific version of the coding system is selected and statically bound to the CS typed attributed, this shall be specified in the value set definition of the attribute.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="64"/>
      </xs:restriction>
   </xs:simpleType>
   
   
   <xs:simpleType name="TS">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            A variable precision date/time value, represented as precisely as possible. All date time values conforming to the LDM shall use universal coordinated time [UTC].
            
            &quot;UTC&quot; implies that the source and the consumer of this data value shall convert the time from/to the local time to/from UTC.
            
            The format of these values is defined as the following regular expression:
            
            YYYY[MM[DD[hh[mm[ss]]]]]
            
            The following are legal date time values with increasing precision representing the date and time January 2, 2005, 3:04:05am
            
            2005 200501 20050102 2005010203 200501020304 20050102030405
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:minLength value="4"/>
         <xs:maxLength value="14"/>
         <xs:pattern value="\d\d\d\d((0[1-9]|1[012])((0[1-9]|[12]\d|3[01])(([01]\d|2[0-3])([0-5]\d([0-5]\d)?)?)?)?)?"/>
      </xs:restriction>
   </xs:simpleType>
   
   
   <xs:complexType name="GPHospitalDomainNameDetail">
       <xs:complexContent>
         <xs:extension base="cmt:MessageElement">
            <xs:sequence>
               <xs:element name="hospitalDomainId" minOccurs="1" maxOccurs="1" type="cmt:ST64">
                  <xs:annotation>
                     <xs:documentation source="urn:ge:csm" xml:lang="en">
                        The domain id of a hospital.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>         
                <xs:element name="hospitalDomainName" minOccurs="1" maxOccurs="1" type="cmt:ST64">
	                         <xs:annotation>
	                            <xs:documentation source="urn:ge:csm" xml:lang="en">
	                               The domain name of a hospital.
	                            </xs:documentation>
	                         </xs:annotation>
               </xs:element>    
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   
   <xs:simpleType name="ID">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            A string of up to 128 characters representing the value of a business identifier.  The value is guaranteed to be unique within a particular ID domain.  The ID domain corresponding to an Id attribute may be specified in a separate attribute using the OID data type or fixed to a specified ID domain stated in the definition of the ID attribute itself.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:normalizedString">
         <xs:minLength value="1"/>
         <xs:maxLength value="128"/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:complexType name="GPOrderAccessionNumber">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            This message element that describes the Accession Number of Order.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cmt:MessageElement">
            <xs:sequence>
               
               <xs:element name="acNoValue" minOccurs="1" maxOccurs="1" type="cmt:ID">
                  <xs:annotation>
                     <xs:documentation source="urn:ge:csm" xml:lang="en">
                        The value of the Accession Number.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
               
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   
   
   <xs:simpleType name="ST256">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            A string of Unicode text characters with a maximum length of 256 characters.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="256"/>
      </xs:restriction>
   </xs:simpleType>
   
    <xs:simpleType name="ST">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            A string of Unicode text characters with no maximum length specified.  Actual maximum length is technology dependent.  This type is only used in CSM and shall not map back to any persistent CDM domain and shall not be used in any CSM attribute that maps to CDM.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   
   <xs:complexType name="Extension">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            A CSM message metadata structure that holds a set of one or more name/value pair items unique to the extension identified by the extension id.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="extensionId" minOccurs="1" maxOccurs="1" type="cmt:OID">
            <xs:annotation>
               <xs:documentation source="urn:ge:csm" xml:lang="en">
                  Identifies the authority (example a product engineering team, or field service team) responsible for the semantics of the name/value pair items.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="item" minOccurs="1" maxOccurs="unbounded" type="cmt:ExtensionItem">
            <xs:annotation>
               <xs:documentation source="urn:ge:csm" xml:lang="en">
                  An array of name value pair items that hold discrete, implementation-specific extension data.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   
   <xs:simpleType name="ST64">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            A string of Unicode text characters with a maximum length of 64 characters.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="64"/>
      </xs:restriction>
   </xs:simpleType>
   
   
    <xs:simpleType name="OID">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            An ISO Object identifier. Limited in length to 64 characters, and made up of characters from the set [0-9.]. It must start with an integer, and is followed by one or more additional integer values, separated by periods. Integers are represented without leading 0 digits unless the value is zero.1.3.6.1.4.1.21367.2005.3.7
            
            ISO Object Identifier (OID) Definition (from HL7): 
            An OID is a globally unique string representing an ISO (International Organization for Standardization) identifier in a form that consists only of numbers and dots (e.g., &quot;2.16.840.1.113883.3.1&quot;). According to ISO, OIDs are paths in a tree structure, with the left-most number representing the root and the right-most number representing a leaf. 
            Each branch under the root corresponds to an assigning authority. Each of these assigning authorities may, in turn, designate its own set of assigning authorities that work under its auspices, and so on down the line. Eventually, one of these authorities assigns a unique (to it as an assigning authority) number that corresponds to a leaf node on the tree. The leaf may represent an assigning authority (in which case the root OID identifies the authority), or an instance of an object. An assigning authority owns a namespace, consisting of its sub-tree. 
            OIDs are the preferred scheme for unique identifiers in HL7. OIDs should always be used except if one of the inclusion criteria for other schemes apply. HL7 Version 3 artifacts use OIDs to identify coding schemes and identifier namespaces. OIDs can be allocated by any organization using a unique OID root. A single message can use OIDs from various sources and a single scheme can be identified by more than one OID (e.g. by an OID from more than one organization). Once issued an OID is never withdrawn and always identifies the same scheme or object. 
            As with all identification systems there is not much point having identifiers if you don&#39;t know what they represent and vice versa - hence all identification systems require a registry. This HL7 OID registry serves that purpose for the HL7 community.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="cmt:ID">
         <xs:maxLength value="64"/>
         <xs:pattern value="1(\.(0|[1-9]\d*))*"/>
      </xs:restriction>
   </xs:simpleType>
   
    <xs:complexType name="ExtensionItem">
      <xs:annotation>
         <xs:documentation source="urn:ge:csm" xml:lang="en">
            A discrete named extension value.  The name used here only has meaning to the authority identified by the extension Id of the Extension that contains this Extension Item.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="name" minOccurs="1" maxOccurs="1" type="cmt:ST64">
            <xs:annotation>
               <xs:documentation source="urn:ge:csm" xml:lang="en">
                  A name that is specified by the authority identified in the enclosing Extension structure.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="value" minOccurs="1" maxOccurs="1" type="cmt:ST">
            <xs:annotation>
               <xs:documentation source="urn:ge:csm" xml:lang="en">
                  The actual extension data value.  The value is always stringified regardless of its native representation.  The authority defining the name shall specify the format of this stringified value.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   </xs:schema>
   <!--  Till here  -->