src/main/resources/wsdl/ORMRegistry.wsdl

<definitions
 xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
 xmlns:tns="http://gehcit.com/platform/cws/ORMRegistry"
 xmlns:wsaw="http://www.w3.org/2007/05/addressing/wsdl"
 xmlns:mm="http://gehcit.com/platform/cws/orm/types"
 targetNamespace="http://gehcit.com/platform/cws/ORMRegistry"
 name="ORMRegistry" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <types>
      <xsd:schema elementFormDefault="qualified"
                  targetNamespace="http://gehcit.com/platform/cws/ORMRegistry">
      <xsd:import namespace="http://gehcit.com/platform/cws/orm/types" schemaLocation="ORMRegistry.xsd"/>
      </xsd:schema>
   </types>

   <message name="ReviseORMRequest_Message">
     <part name="body" element="mm:ReviseORMRequest"/>
   </message>
   <message name="ReviseORMResponse_Message">
     <part name="body" element="mm:ReviseORMResponse"/>
   </message>
   <message name="DeleteORMRequest_Message">
     <part name="body" element="mm:DeleteORMRequest"/>
   </message>
   <message name="DeleteORMResponse_Message">
     <part name="body" element="mm:DeleteORMResponse"/>
   </message>

   <portType name="ORMRegistry">
     <operation name="reviseORMRequest">
       <input message="tns:ReviseORMRequest_Message" wsaw:Action="http://gehcit.com/platform/cws/ReviseORMRequest"/>
       <output message="tns:ReviseORMResponse_Message" wsaw:Action="http://gehcit.com/platform/cws/ReviseORMResponse"/>
     </operation>
	<operation name="deleteORMRequest">
       <input message="tns:DeleteORMRequest_Message" wsaw:Action="http://gehcit.com/platform/cws/DeleteORMRequest"/>
       <output message="tns:DeleteORMResponse_Message" wsaw:Action="http://gehcit.com/platform/cws/DeleteORMResponse"/>
     </operation>
   </portType>

   <binding name="ORMRegistry_Binding_Soap12" type="tns:ORMRegistry">

   	<soap:binding style="document"
   		transport="http://schemas.xmlsoap.org/soap/http" />
   	<operation name="reviseORMRequest">

   		<soap:operation
   			soapAction="http://gehcit.com/platform/cws/ORMRegistry/reviseORMRequest" />
   		<input>

   			<soap:body use="literal" />
   		</input>
   		<output>

   			<soap:body use="literal" />
   		</output>
   	</operation>
   	<operation name="deleteORMRequest">

   		<soap:operation
   			soapAction="http://gehcit.com/platform/cws/ORMRegistry/deleteORMRequest" />
   		<input>

   			<soap:body use="literal" />
   		</input>
   		<output>

   			<soap:body use="literal" />
   		</output>
   	</operation>
   </binding>

   <service name="ORMRegistry_Service">
       <port name="ORMRegistry_Port_Soap12" binding="tns:ORMRegistry_Binding_Soap12">
            <soap:address location="http://localhost:8082/ormservice"/>
        </port>
   </service>
</definitions>